Repository inview-team/Owl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build collector, build worker, build opcuaserver, deploy opcuaserver, deploy collector, deploy worker, deploy analyzer

build collector:
  stage: build
  script:
  - docker build -t ${DOCKER_TEAM}/owl-collector ./collector
  - docker push ${DOCKER_TEAM}/owl-collector

build worker:
  stage: build
  script:
  - docker build -t ${DOCKER_TEAM}/owl-worker ./worker
  - docker push ${DOCKER_TEAM}/owl-worker

build opcuaserver:
  stage: build
  script:
  - docker build -t ${DOCKER_TEAM}opc-server ./opc_ua_server
  - docker push ${DOCKER_TEAM}/opc-server

deploy opcuaserver:
  stage: deploy
  script:
  - kubectl delete -f ./opc_ua_server/opc.yaml
  - kubectl create -f ./opc_ua_server/opc.yaml

deploy collector:
  stage: deploy
  script:
  - kubectl delete -f ./collector/collector.yaml
  - kubectl create -f ./collector/collector.yaml

deploy worker:
  stage: deploy
  script:
  - kubectl delete -f ./worker/worker.yaml
  - kubectl create -f ./worker/worker.yaml

deploy analyzer:
  stage: deploy
  script:
  - python3 ./metric_analyze/get_metrics.py

fixed missing slash in gitlab-ci
  .gitlab-ci.yml
  Dockerfile
  collector/collector.yaml
  metric_analyze/get_metrics.py
  opc_ua_server/opc.yaml
  restapi/.env
  restapi/__pycache__/model.cpython-36.pyc
  restapi/requirements.txt
  restapi/server.py
  worker/worker.yaml
Due: build collector, build worker, build opcuaserver, deploy opcuaserver, deploy collector, deploy worker, deploy analyzer

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

add requiremets.txt
  .gitlab-ci.yml
  metric_analyze/requirements.txt
Due: deploy analyzer

add stages in gitlabci and dockerize analyzer
  .gitlab-ci.yml
  metric_analyze/Dockerfile
  metric_analyze/get_metrics.py
  metric_analyze/opc.yaml
Due: deploy analyzer

dockerize analyzer
  metric_analyze/Dockerfile
  metric_analyze/requirements.txt
Due: deploy analyzer

dockerize analyzer
  metric_analyze/Dockerfile
Due: deploy analyzer

dockerize analyzer
  .gitlab-ci.yml
Due: none

fix gitlabci
  .gitlab-ci.yml
Due: none

server dockerfile
  restapi/Dockerfile
Due: none

Update requirements.txt
  restapi/requirements.txt
Due: none

fix problem with eslint
  graph/package.json
  graph/src/components/Graph.vue
  graph/src/components/Logs.vue
  graph/src/components/Main.vue
  graph/src/components/Settings.vue
  graph/src/main.js
  graph/src/router/index.js
  restapi/server.py
Due: none

repair problem for Linux
  restapi/server.py
Due: none

commit
  graph/Dockerfile
  restapi/Dockerfile
Due: none

commit
  .gitlab-ci.yml
Due: none

fix lint errors
  .gitlab-ci.yml
  collector/collector.go
  collector/go.mod
  collector/go.sum
  worker/worker.go
Due: build collector, build worker, deploy collector, deploy worker

update gitlabci
  .gitlab-ci.yml
Due: none

update gitlabci
  .gitignore
  .gitlab-ci.yml
  metric_analyze/get_metrics.py
Due: deploy analyzer

fix runners
  .gitlab-ci.yml
Due: none

update gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Dockerfile for RestAPI
  metric_analyze/get_metrics.py
  metric_analyze/requirements.txt
  restapi/Dockerfile
  restapi/__pycache__/server.cpython-36.pyc
  restapi/server.py
Due: deploy analyzer

Telegram bot Owl
  telegram_bot/bot.py
Due: none

Telegram Bot requirements.txt
  telegram_bot/requirements.txt
Due: none

rewrite to golang 😏
  metric_analyze/Dockerfile
  metric_analyze/analyzer.go
  metric_analyze/analyzer.yaml
  metric_analyze/get_metrics.py
  metric_analyze/go.mod
  metric_analyze/go.sum
  restapi/.gitignore
Due: deploy analyzer

Update bot.py
  telegram_bot/bot.py
Due: none

add architectur scheme
  Owl_architecture.jpg
  README.md
Due: none

add architectur scheme
  README.md
Due: none

clean
  gitlab-admin-service-account.yaml
Due: none

Delete bot.py
  telegram_bot/bot.py
Due: none

Add files via upload
  telegram_bot/.gitignore
  telegram_bot/bot.py
Due: none

Path conditions:
  build collector: any of: collector/*
  build worker: any of: worker/*
  build opcuaserver: any of: opc_ua_server/*
  deploy opcuaserver: any of: opc_ua_server/*
  deploy collector: any of: collector/*
  deploy worker: any of: worker/*
  deploy analyzer: any of: metric_analyze/*
